* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.data {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ECEAEA;
}

.data-container {
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.data-text {
    width: 590px;
    font-family: PP Object Sans, sans-serif;
    font-size: 26px;
    font-weight: 800;
    line-height: 31.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6D6969;
    margin-bottom: 20px;

}

.data-text-variable {
    color: #2B2B2B;
}

.data-list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    position: absolute;
    right: 300px;
    top: 170px;
    z-index: 111;

}




.data-btn {

    font-family: PP Object Sans, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19.2px;
    padding: 10px 30px;
    background: #0000001A;
    border: none;
    border-radius: 50px;
    color: #6D6969;
    text-decoration: none;
    cursor: pointer;






}

.data-btn.active {
    color: #D84F54;
    background: #F3585B4D;

}

.data-box {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8F7F7;
    padding: 99px 205px 4px 204px;
    border-radius: 14px;




}

.data-box.active {
    display: block;

}




.data-box-title {

    font-family: PP Object Sans, sans-serif;
    font-size: 104px;
    font-weight: 800;
    line-height: 101.92px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #363636;
    margin-bottom: 20px;


}

.data-box-text {
    max-width: 520px;
    font-family: PP 'pp-regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: auto;
    margin-right: auto;
    color: #2B2B2B;
    margin-bottom: 112px;


}

.data-box-text.active {
    max-width: 420px;

}


.data-box-list {
    display: flex;
    gap: 24px;
    list-style: none;
}

.data-box-item {
    white-space: nowrap;

    font-family: PP Object Sans, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 20.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6D6969;
    margin-bottom: 26px;

}

.data-cursor-left {
    padding: 25px 22px;
    border: 1px solid #6D6969;
    background-color: #F8F7F7;
    position: absolute;
    left: 60px;
    top: 50%;
}

.data-cursor-right {
    padding: 25px 22px;
    border: 1px solid #6D6969;
    background-color: #F8F7F7;
    position: absolute;
    right: 60px;
    top: 50%;
}


@media (max-width:1240px) {
    .data-list {

        position: absolute;
        right: 155px;
        top: 170px;
        z-index: 111;

    }



    .data-box {
        max-width: 1060px;
    }

    .data-box-title {
        white-space: nowrap;
    }


}



/* rebrain start */


.rebrain {
    padding-top: 116px;
    padding-bottom: 80px;
    background-color: #ECEAEA;
}

.rebrain-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
}


.rebrain-box {
    display: flex;
    gap: 20px;

}

.rebrain-row {
    padding: 72px 0 233px 0;
    max-width: 1100px;
    height: 404px;
    background-color: #F8F7F7;
    background-image: url(../img/rebrain/logo_rebrain.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80%;
    border-radius: 0 14px 14px 0;
    position: relative;
}

.rebrain-title {
    font-family: PP Object Sans, sans-serif;
    font-size: 104px;
    font-weight: 800;
    line-height: 101.92px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #363636;
    margin-left: 300px;

    position: absolute;
    left: 0;
    top: -70px;






}

.rebrain-list {
    list-style: none;
    margin-left: 80px;
}

.rebrain-item {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
    position: relative;
    margin: 0;

}

.rebrain-item2 {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
    position: relative;
    margin: 0;

}

.rebrain-item-img2 {
    position: absolute;
    left: 0;
    top: 10px;
    margin: 0;


}

.rebrain-item-img {
    position: absolute;
    left: 0;
    top: 10px;
    margin: 0;


}


.rebrain-item2 {
    display: flex;
    gap: 12px;
    margin: 0;


}

.rebrain-item-text {
    max-width: 786px;
    font-family: "pp-500", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 28.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2B2B2B;
    margin-left: 25px;
    margin-bottom: 12px;

}

.rebrain-item-text2 {
    font-family: "pp-500", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 28.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2B2B2B;
    z-index: none;


}

.rebrain-icon-span {
    color: #D84F54;
}

.rebrain-col {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
    margin-left: -40px;
    margin-top: 50px;
    z-index: 11;
}

.rebrain-col-text {
    max-width: 292px;
    font-family: PP Object Sans, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6D6969;

}


.rebrain-col-span {
    color: #D84F54;
}

.rebrain-list-2 {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    margin-left: 80px;
    position: absolute;
    left: 0;
    bottom: -80px;
}

.rebrain-video {
    max-width: 500px;
    display: flex;
}

.rebrain-link-1 {
    padding: 68px 26px 71px 26px;
    border: none;
    background-color: #363636;
    font-family: PP Object Sans, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 20.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F8F7F7;
    background-image: url(../img/rebrain/telegram.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    text-decoration: none;
}

.rebrain-span {
    color: #F3585B;
}

.rebrain-link-2 {
    padding: 68px 26px 71px 26px;
    min-width: 160px;
    border: none;
    background-color: #363636;
    font-family: PP Object Sans, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 20.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F8F7F7;
    background-image: url(../img/rebrain/com.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.rebrain-link-3 {
    padding: 68px 26px 71px 26px;
    min-width: 160px;
    border: none;
    background-color: #363636;
    font-family: PP Object Sans, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 20.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F8F7F7;
    background-image: url(../img/rebrain/youtobe.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

@media (max-width:1024px) {
    .rebrain-box {
        display: flex;
        gap: 50px;
        flex-direction: column;
    }

    .rebrain-title {
        margin-left: 30px;

        font-family: PP Object Sans, sans-serif;
        font-size: 64px;
        font-weight: 800;
        line-height: 62.72px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        position: absolute;
        left: 0;
        top: -40px;

    }

    .rebrain-list {
        margin-left: 30px;
    }

    .rebrain-row {
        max-width: 730px;
        padding: 72px 0 180px 0;

        background-color: #F8F7F7;
        background-image: url(../img/rebrain/logo_rebrain.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        margin-bottom: 90px;
    }

    .rebrain-list-2 {
        display: flex;
        gap: 20px;
        align-items: center;
        list-style: none;
        margin-left: 30px;
        position: absolute;
        left: 0;
        bottom: -80px;
    }

    .rebrain-col {
        margin-left: 30px;
        align-items: start;
    }

    .rebrain-video {
        width: 100%;
        max-width: 700px;
    }



}

@media(max-width: 600px){

    .rebrain-link-1{
        max-width: 106px;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 106px;
        min-height: 106px;
    }
    .rebrain-link-2{
        max-width: 106px;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 106px;
        min-height: 106px;
    }
    .rebrain-link-3{
        max-width: 106px;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 106px;
        min-height: 106px;
    }
    .rebrain-list-2{
        gap: 10px;
    }
}

/* @media (max-width:378px) {
    .rebrain-container {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    .rebrain-title {
        font-family: PP Object Sans, sans-serif;
        font-size: 26px;
        font-weight: 800;
        line-height: 31.2px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        position: absolute;
        left: 0;
        top: -20px;
        margin-left: 10px;

    }

    .rebrain-list {
        margin-left: 10px;
        margin-bottom: 141px;
    }


    .rebrain-item-text {
        font-family: 'pp-regular', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 12px;

    }

    .rebrain-item-text2 {
        max-width: 265px;
        font-family: 'pp-regular', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;


    }

    .rebrain-row {
        background-size: 70%;
        background-position-y: 70%;
        padding: 35px 0px 141px 0px;
        margin-bottom: 30px;
    }

    .rebrain-item-img {
        position: absolute;
        left: 0;
        top: 7px;
        margin: 0;

    }

    .rebrain-list-2 {
        max-width: 338px;
        display: flex;
        gap: 10px;
        margin-left: 10px;
        margin-bottom: 0;
    }

    .rebrain-link-1 {
        max-width: 106px;
        width: 100%;
        font-family: PP Object Sans, sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: 20.8px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding: 41px 0 44px 0;
        background-image: url(../img/rebrain/telegram-responsive.svg);
        background-position: center
    }

    .rebrain-link-2 {
        max-width: 106px;
        width: 100%;
        font-family: PP Object Sans, sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: 20.8px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding: 41px 0 44px 0;
        background-image: url(../img/rebrain/com-responsive.svg);
        background-position: center
    }

    .rebrain-link-3 {
        max-width: 106px;
        width: 100%;
        display: flex;
        font-family: PP Object Sans, sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: 20.8px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding: 41px 0 44px 0;
        background-image: url(../img/rebrain/youtobe-responsive.svg);
        background-position: center
    }

    .rebrain-video {
        max-width: 330px;
        min-width: 50px;

    }

    .rebrain-col {
        margin-left: 10px;
    }
} */

/* rebrain end */

/* footer start */
.footer {
    padding-top: 80px;
    padding-bottom: 30px;
    background-color: #2B2B2B;
}

.footer-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-row {
    display: flex;
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.footer-list {
    width: 320px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    list-style: none;
}



.footer-list-2 {
    display: flex;
    gap: 20px;
    flex-direction: column;
    list-style: none;
    margin-bottom: 153px;
}



.footer-item {
    list-style: none;
}

.footer-link {
    font-family: 'pp-regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration: none;
    color: #F8F7F7;


}

.footer-link-title {
    color: #F3585B;
    margin-bottom: 10px;

}


.footer-row-2 {
    padding-top: 30px;
    background-image: url(../img/footer/fevlake.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;


}

.footer-appeal {
    display: flex;
    gap: 10px;

}

.footer-appeal-email {
    font-family: PP Object Sans, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 20.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F3585B;
    text-decoration: none;

}

.footer-appeal-number {
    font-family: PP Object Sans, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 20.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F3585B;
    text-decoration: none;
}

.footer-appeal-box {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.footer-appeal-text {
    font-family: 'pp-regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6D6969;
    text-decoration: none;
    margin-left: 535px;

}

.footer-row-2 {
    display: flex;
    justify-content: space-between;

}

.footer-appeal {
    display: flex;
    gap: 83px;
    flex-direction: column;
}

.footer-line {
    height: 1px;
    color: #363636;
    background-color: #363636;
}

.footer-bottom-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
    list-style: none;
}

.footer-bottom-link {

    font-family: 'pp-regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F8F7F7;
    text-decoration: none;

}

.footer-appeal-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



.footer-appeal-2-link {
    font-family: 'pp-regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6D6969;
    text-decoration: none;

}

.footer-appeal-2-text {

    font-family: 'pp-regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6D6969;
    margin-bottom: 10px;


}

.footer-appeal-2-text-2 {

    font-family: PP 'pp-regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6D6969;


}

.years {

    margin-top: auto;

    font-family: 'pp-regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6D6969;

}


@media (max-width:760px) {
    .footer-row {
        display: flex;
        gap: 50px;
        flex-direction: column;
    }

    .footer-list-2 {
        margin-bottom: 50px;
    }

    .footer-row-2 {
        display: flex;
        gap: 50px;
        flex-direction: column;
    }

    .years {
        margin-right: auto;
    }
}

/* footer end */